.card {
  display: grid;
  place-content: center;
  background: #eaeaea !important;
  box-shadow: 0 0.125rem 1rem rgba(0, 0, 0, 0.2);
  position: relative;
  padding: 12px 10px;
  .card_load {
    position: absolute;
    background: linear-gradient(120deg, #e5e5e5 30%, #fdfdff 38%, #fdfdff 40%, #e5e5e5 48%);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load89234 2s infinite;
  }
  .card-bar-load {
    position: absolute;
    bottom: 5%;
    .card_load_extreme_title {
      width: 75px;
      height: 4px;
      border-radius: 10px;
      background: linear-gradient(120deg, #a2a2a2 30%, #fdfdff 38%, #fdfdff 40%, #a2a2a2 48%);
      background-size: 200% 100%;
      background-position: 100% 0;
      animation: load89234 2s infinite;
    }
  }
}
.card_load_2nd {
  height: 50vh;
  background: linear-gradient(120deg, #e5e5e5 30%, #fdfdff 38%, #fdfdff 40%, #e5e5e5 48%);
  background-size: 200% 100%;
  background-position: 100% 0;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  animation: load89234 2s infinite;
}

@keyframes load89234 {
  100% {
    background-position: -100% 0;
  }
}

@media (max-width : 400px) {
  .card,
  .card_load {
    height: 50vh;
  }
}

@media (max-width: 1023.98px) {
  .card,
  .card_load {
    height: 80vh;
  }
}
@media (min-width: 1024px) {
  .card,
  .card_load {
    height: 100vh;
  }
}
