@import "mixin";
body{
  a, a:hover{
    color: #fff;
  }
}
// About Section
.col-lg-6 {
  padding: 0.5rem;
}
.card {
  border: none;
  position: relative;
  .card-floating-text {
    @include flex-box(center, center);
    text-align: center;
    width: 94.25%;
    height: 94.5%;
    color: #fff;
    background-color: rgba($color: #000000, $alpha: 0.1);
    @include position(absolute, unset, unset, 2.75%, 2.9%);
    border-radius: 0.5rem 0.5rem;
    padding: 0.5rem;
  }
}

// Hero Section
.hero-section {
  position: relative;
}
.about-section {
  margin-bottom: 0.25rem;
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  body{
    padding-top: 4rem;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  /* Card */
  .images-card {
    height: 100vh;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  // Banner
  .banner {
    .banner-text {
      h1 {
        font-weight: 900;
      }
    }
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .card-section {
    @include flex-box(center, center);
  }
}

@keyframes moving {
  0%,
  100% {
    width: 0;
  }
  50% {
    width: 100%;
  }
}
