@import "mixin";

nav {
  width: 100%;
  position: fixed;
  top: 0;
  padding: 0.5rem 0;
  background-color: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba($color: #000000, $alpha: 0.3);
  transition: all 0.5s;
  z-index: 90000;
  * {
    color: #212121 !important;
  }
  .container {
    @include flex-box(space-between, center);
    .text-logo {
      font-size: 2rem;
      font-family: "Press Start 2P";
    }
  }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .btn-show,
  .btn-hide {
    font-size: 2rem;
    transition: all 0.5s;
  }
  .btn-hide {
    display: none;
  }
  .add-border {
    border-bottom: 1px solid #212121;
  }
  .nav-items {
    position: fixed;
    top: 66.5px;
    left: -100%;
    width: 100vw;
    height: 100vh;
    display: block !important;
    padding: 8px 12px;
    background-color: #fff;
    padding: 10px 20px 20px 20px;
    transition: all 0.5s;
    .nav-links {
      width: 100%;
      font-size: 1rem;
      line-height: 1.5rem;
      display: block;
      color: #212121;
      border-bottom: 1px solid #212121;
      padding: 1rem 0;
    }
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .navbar-button {
    display: none;
  }
  .nav-items {
    @include flex-box(center, center);
    gap: 1rem;
  }
}
