@import "mixin";

@media (max-width: 575.98px) {
  main{
    padding-top: 5rem;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  main {
    padding-top: 5rem;
    min-height: 100vh;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

@keyframes fades {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
