body {
  font-family: "Inter Tight", sans-serif;
  box-sizing: border-box;
  animation: fade 1s ease;
  overflow-x: hidden;
  a {
    text-decoration: none;
    cursor: pointer;
    transition: all 0.5s;
  }
  button {
    background-color: transparent;
    border: none;
    transition: all 0.5s;
  }
}

.hide {
  display: none !important;
}

.footer {
  background-color: #212121;
  color: #fff;
  padding: 1rem 0;
  @include flex-box(center, center);
  p {
    margin: 0;
  }
}

// Banner
.banner {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .banner-text {
    @include flex-box(center, center);
  }
}

// Slick
.slick-dots {
  @include flex-box(center, center);
  gap: 1rem;
  @include html-reset();
  @include position(absolute, unset, 0, 5%, 0);
  li {
    width: 75px;
    @include flex-box(center, center);
    .slick-dot {
      --height-of-loader: 4px;
      --loader-color: #000;
      width: 100%;
      height: var(--height-of-loader);
      border-radius: 30px;
      background-color: rgba(255, 255, 255, 0.5);
      position: relative;
    }
  }
  .slick-active {
    .slick-dot::before {
      content: "";
      position: absolute;
      background: var(--loader-color);
      top: 0;
      left: 0;
      height: 100%;
      border-radius: 30px;
      animation: moving 4s ease-in-out 1;
    }
  }
}

@media (max-width: 575.98px) {
  h1 {
    font-size: 1.75rem;
  }
  // Banner
  .banner {
    height: 60vh;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  // Banner
  .banner {
    height: 100vh;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
