.input-box {
  display: flex;
  flex-direction: column;
  .input {
    border: none;
    box-shadow: 0px 1.5px 0px 0px #858585;
    padding: 0.5rem;
    transition: all .5s;
    opacity: 0.75;
  }
  .input::placeholder {
    color: rgb(145, 145, 145);
  }
  .input:focus {
    border: none;
    box-shadow: 0rem 1.5px 0 0px #275efe;
    outline: none;
  }
}
.btn-cssbuttons {
  width: 100%;
  padding: 8px 32px;
  color: white;
  background: #275efe;
  border: none;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  filter: drop-shadow(0 .25rem .5rem rgba(39, 94, 254, 0.32));
}

@media (max-width : 767.98px) {
  .input-box {
    margin: 1rem 0;
  }
}

