.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

@media (max-width: 640px) {
  .show {
    .navbar-items {
      left: 0;
      transition: all 0.5s;
    }
  }
  .navbar{
    svg{
      width: 28px;
      height: 28px;
    }
  }
  .navbar-items {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100vw;
    height: 100vh;
    background-color: #fdfdfd;
    transition: all 0.5s;
    .navbar-items-head {
      display: flex;
      justify-content: space-between;
      padding: 1rem 1rem;
      background-color: #3A98B9;
      color: #eee;
    }
    .items {
      height: 100%;
      padding: 0.5rem 1rem;
      a {
        display: block;
        padding: 1rem 0;
        color: #818181;
        border-bottom: 1px solid #818181;
      }
    }
  }
}
