.card-comment {
  padding: 1rem;
  min-height: 214.98px;
  max-height: 215px;
  border-radius: 0.8rem;
  cursor: pointer;
  gap: 0.75rem;
  .card-body-text {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 8rem;
    max-height: 8rem;
    overflow-y: scroll;
  }
  .card-body-text::-webkit-scrollbar {
    width: 0;
  }
}

.slick-center {
  .card-comment {
    background-color: #212121;
    color: #fff;
  }
}
