@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap");

body {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  background-color: #fafafa;
  scroll-behavior: smooth;
}

.fade {
  animation: fade 1s ease-in 1;
}

@media (max-width: 639.98px) {
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
