.nav-service {
  background-color: #fff !important;
  .head-text {
    display: flex;
    gap: 1rem;
    padding: 0 1rem;
    a {
      font-size: 1rem;
      margin: 0;
      cursor: pointer;
      transition: all 0.5s;
      color: #00adb5;
    }
    a:hover {
      color: rgb(61, 106, 255);
    }
  }
}
@media (max-width: 639.99px) {
  .nav-service {
    padding-top: 1rem;
    overflow: scroll;
    position: fixed;
    width: 100%;
    top: 57.5px;
    z-index: 1020;
    .head-text {
      width: max-content;
      a {
        padding: 0.5rem 0;
      }
    }
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 640px) {
  .head-text {
    width: 100%;
  }
  .nav-service {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9000;
    transition: all 0.5s;
    padding-top: 3.5rem;
    .head-text {
      width: max-content;
      a {
        padding: 0.5rem 0;
      }
    }
  }
  .scrollup {
    top: 0;
  }
  .scrolldown {
    top: -150px;
  }
}
